In [2]:
import datetime as dt
import matplotlib.pyplot as plt 
from matplotlib import style
import pandas as pd 
import pandas_datareader.data as web

In [4]:
style.use('ggplot')

start = dt.datetime(2000,1,1)
end = dt.datetime(2017,12,31)

In [15]:
dt = web.DataReader("002008.SHX", 'morningstar', start , end)

Exception: Request Error!: 404 : Not Found

In [13]:
dt

                    Close      High       Low    Open    Volume
Symbol Date
TSLA   2010-06-29   23.89   25.0000   17.5400   19.00  18783276
       2010-06-30   23.83   30.4192   23.3000   25.96  17194394
       2010-07-01   21.96   25.9200   20.2700   25.00   8216789
       2010-07-02   19.20   23.1000   18.7100   23.00   5135795
       2010-07-05   19.20   19.2000   19.2000   19.20         0
       2010-07-06   16.11   20.0000   15.8300   20.00   6852634
       2010-07-07   15.80   16.6300   14.9800   16.40   6924914
       2010-07-08   17.46   17.5200   15.5700   16.14   7710937
       2010-07-09   17.40   17.9000   16.5500   17.58   4048536
       2010-07-12   17.05   18.0700   17.0000   17.95   2198722
       2010-07-13   18.14   18.6400   16.9000   17.55   2680060
       2010-07-14   19.84   20.1500   17.7601   17.94   4193209
       2010-07-15   19.89   21.5000   19.0000   19.94   3740126
       2010-07-16   20.64   21.3000   20.0500   20.70   2620110
       2010-07-19   21.91   22.2500   20.9200   21.35   2486489
       2010-07-20   20.30   21.8500   20.0500   21.85   1824154
       2010-07-21   20.22   20.9000   19.5000   20.66   1251292
       2010-07-22   21.00   21.2500   20.3700   20.50    962345
       2010-07-23   21.29   21.5600   21.0600   21.19    653549
       2010-07-26   20.95   21.5000   20.3000   21.50    922178
       2010-07-27   20.55   21.1800   20.2600   20.91    619675
       2010-07-28   20.72   20.9000   20.5100   20.55    467183
       2010-07-29   20.35   20.8800   20.0000   20.77    615910
       2010-07-30   19.94   20.4400   19.5500   20.20    426830
       2010-08-02   20.92   20.9700   20.3330   20.38    718245
       2010-08-03   21.95   21.9500   20.8200   21.00   1230349
       2010-08-04   21.26   22.1800   20.8500   21.95    912526
       2010-08-05   20.45   21.5500   20.0500   21.54    796380
       2010-08-06   19.59   20.1601   19.5200   20.10    741838
       2010-08-09   19.60   19.9800   19.4500   19.90    812656
...                   ...       ...       ...     ...       ...
       2017-11-20  308.74  315.5000  304.7500  313.79   8247650
       2017-11-21  317.81  318.2300  308.7100  310.86   7261273
       2017-11-22  312.60  317.4200  311.8400  316.77   4917636
       2017-11-23  312.60  312.6000  312.6000  312.60         0
       2017-11-24  315.55  316.4100  311.0000  313.79   3244065
       2017-11-27  316.81  317.3400  309.5100  313.25   4555894
       2017-11-28  317.55  320.0000  313.9200  316.36   4949491
       2017-11-29  307.54  318.0000  301.2300  317.30   8767398
       2017-11-30  308.85  310.7000  304.5400  308.56   4351587
       2017-12-01  306.53  310.3200  305.0500  305.44   4292868
       2017-12-04  305.20  308.2650  300.6100  306.50   5835140
       2017-12-05  303.70  308.0000  301.0000  302.00   4646520
       2017-12-06  313.26  313.3900  300.0000  300.10   7195341
       2017-12-07  311.24  318.6341  311.0500  312.00   4780597
       2017-12-08  315.13  316.9800  311.2600  314.60   3468458
       2017-12-11  328.91  329.0100  313.7500  314.63   7937981
       2017-12-12  341.03  341.4400  330.0300  330.45   8733199
       2017-12-13  339.03  344.2200  336.5000  340.93   6221461
       2017-12-14  337.89  347.4400  336.9000  341.01   5799916
       2017-12-15  343.45  343.9000  335.7600  342.04   6933199
       2017-12-18  338.87  346.7300  337.5800  344.90   5476166
       2017-12-19  331.10  341.4925  330.3000  340.26   6824971
       2017-12-20  328.98  333.1000  325.0400  332.69   5953800
       2017-12-21  331.66  333.7400  327.2100  329.59   4385222
       2017-12-22  325.20  330.9214  324.8200  329.51   4215807
       2017-12-25  325.20  325.2000  325.2000  325.20         0
       2017-12-26  317.29  323.9400  316.5800  323.83   4378413
       2017-12-27  311.64  317.6800  310.7500  316.00   4712111
       2017-12-28  315.36  315.8200  309.5400  311.75   4316347
       2017-12-29  311.35  316.4100  310.0000  316.18   3777155

[1959 rows x 5 columns]